html {
    font-size: 62.5%;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #333;
}
*, *:before, *:after {
    box-sizing: border-box;
}
#schematic-dom, #schematic-dom table {
    float: left;
    width: 100%;
}
#schematic-dom table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0px;
}
#schematic-dom th,#schematic-dom td {
    text-align: left;
    padding: 5px;
}
#schematic-dom button, #schematic-dom input[type="button"], #schematic-dom input[type="reset"], #schematic-dom input[type="submit"] {
    cursor: pointer;
}
#schematic-dom button, #schematic-dom select {
    text-transform: none;
}
#schematic-dom button, #schematic-dom input {
    line-height: normal;
}
#schematic-dom button, #schematic-dom input, #schematic-dom select, #schematic-dom textarea {
    margin: 0px;
    font-family: inherit;
    font-size: 100%;
}
#schematic-dom input, #schematic-dom button, #schematic-dom select, #schematic-dom textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
#schematic-dom input[type="radio"], #schematic-dom input[type="checkbox"] {
    margin: 4px 0px 0px;
    line-height: normal;
    padding: 0px;
    box-sizing: border-box;
}
#schematic-dom label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

#schematic-dom .schematic-btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -moz-user-select: none;
}

/* for get */
#schematic-dom .btn-get {
    color: #FFF;
    background-color: #5CB85C;
    border-color: #4CAE4C;
}
/* for post */
#schematic-dom .btn-post {
    color: #FFF;
    background-color: #428BCA;
    border-color: #357EBD;
}

/* for put */
#schematic-dom .btn-put {
    color: #FFF;
    background-color: #F0AD4E;
    border-color: #EEA236;
}

/* for delete */
#schematic-dom .btn-delete {
    color: #FFF;
    background-color: #D9534F;
    border-color: #D43F3A;
}

#schematic-dom .form-component {
    display: block;
    width: 100%;
    height: 25px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.42857;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 2px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
#schematic-dom .radio, #schematic-dom .checkbox {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 15px;
    float: left;
}

#schematic-dom .radio input[type="radio"], #schematic-dom .radio-inline input[type="radio"], #schematic-dom .checkbox input[type="checkbox"], #schematic-dom .checkbox-inline input[type="checkbox"] {

}
#schematic-dom .page {
    border-color: #DDD;
    float: left;
    width: 100%;
    /* 
    border-color: #BCE8F1;
    */
}
#schematic-dom .page-body {
    float: left;
    width: 100%;
    padding: 20px;
}
#schematic-dom .page-heading {
    color: #333;
    background-color: #F5F5F5;
    border-color: #DDD;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    /*
    color: #31708F;
    background-color: #D9EDF7;
    border-color: #BCE8F1;
    */
}
#schematic-dom .sections {
    float: left;
    width: 100%;
}
#schematic-dom .sections > p {
    margin-top: 0;
}
#schematic-dom .section {
    margin-bottom: 20px;
    background-color: #FFF;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
    float: left;
    width: 100%;
}
#schematic-dom .pad-20{
    padding: 0px 20px 20px 20px;
    float: left;
    width: 100%;
    overflow-x: auto;
}
#schematic-dom .pad-20 > p {
    padding-bottom: 10px;
    padding-top: 10px;
}
#schematic-dom .section-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-transform: capitalize;
}
#schematic-dom .section-heading > span {
    padding-right: 5px;
    padding-left: 5px;
    border-left: 1px solid;
    float: right;
    font-size: 12px;
}
#schematic-dom .section-heading > span.method {
    text-transform: uppercase;
}
#schematic-dom .section-heading > span.action {
    text-transform: none;
}
#schematic-dom .section-body{
    float: left;
    width: 100%;
    display: none;
}
#schematic-dom .form-table {
    min-width: 640px;
}
#schematic-dom .section-get {
    border-color: #D6E9C6;
}
#schematic-dom .section-get > .section-heading {
    color: #3C763D;
    background-color: #DFF0D8;
    border-color: #D6E9C6;
}
#schematic-dom .section-post {
    border-color: #337AB7;
}
#schematic-dom .section-post > .section-heading {
    color: #FFF;
    background-color: #337AB7;
    border-color: #337AB7;
}
#schematic-dom .section-put {
    border-color: #FAEBCC;
}
#schematic-dom .section-put > .section-heading {
    color: #8A6D3B;
    background-color: #FCF8E3;
    border-color: #FAEBCC;
}
#schematic-dom .section-delete {
    border-color: #EBCCD1;

}
#schematic-dom .section-delete > .section-heading {
    color: #A94442;
    background-color: #F2DEDE;
    border-color: #EBCCD1;
}
#schematic-dom .section-title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    color: inherit;
}
#schematic-dom .has-error p {
    color: #f00;
}
#schematic-dom .has-error input, #schematic-dom .has-error textarea, #schematic-dom .has-error select {
    border-color: #f00;
}
#schematic-dom .response-container {
    float: left;
    width: 100%;
    padding: 10px;
}
#schematic-dom .action-url{
    padding: 10px;
    color:#222;
    margin: 5px 0;
}
#schematic-dom .status-code {
    padding: 10px;
    color:#222;
    margin: 5px 0;
}

#schematic-dom .response-body {
    padding: 10px;
    color:#222;
    margin: 5px 0;
}

#schematic-dom .action-url, #schematic-dom .status-code, #schematic-dom .response-body{
    color: #333;
    background-color: #F5F5F5;
    border-color: #DDD #DDD 
}

#schematic-dom .string { color: green; }
#schematic-dom .number { color: darkorange; }
#schematic-dom .boolean { color: blue; }
#schematic-dom .null { color: magenta; }
#schematic-dom .key { color: red; }

#schematic-dom .ajax-loader {
    background: url(../images/ajax-loader.gif) center no-repeat #fff;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0px;
    line-height: 1.42857;
    text-align: center;
    border: 1px solid transparent;
}

.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }
