$font_family: sans-serif;

$base-font-size: 1em;

$colors: (
	light:#d5d5d5,
	dark:#333,
	get:#d6e9c6,
	post:#337ab7,
	put:#d6e9c6,
	delete:#d6e9c6,
	options:#d6e9c6,


);

$panelBackground:#fff;
$panelBorderColor:transparent;
$panelBorderRadius:4px;